* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
    color:tomato
}

button {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
#app {
    margin-left: 20px;
}
