<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>


    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- custom style -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <h1>Random Emails</h1>
        <button @click="generateEmail">Genera Email</button>
        <p v-if="isLoading">Loading...</p>
        <ul>
            <li v-for="emails in emailsArray"> {{ emails }} </li>
        </ul>
    </div>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- script -->
    <script src="./js/script.js"></script>
</body>

</html>